name: Lint And Test Code Base
on:
  push:
    branches-ignore:
      - "main"

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Lint Code Base
        run: |
          make lint

      - name: Check Vulnerabilities
        run: |
          make vuln

  test:
    name: Test Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Run Unit Test
        run: |
          make test
